/**
 * 
 * Copyright 2011 Universitat Pompeu Fabra.
 * 
 * This software is open source and is licensed under the Open Software License
 * version 3.0.
 * 
 * You may obtain a copy of the License at
 * http://www.opensource.org/licenses/osl-3.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
 * implied.
 * 
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

body {
	margin: 0px 0px;
	padding: 0px 0px;
	font-family: arial, sans-serif;
	background-color:  #EFEFEF;
}

select {
	cursor: pointer;
}

div {
	margin: 0px 0px;
	padding: 0px 0px;
}

form {
	margin: 0px 0px;
	padding: 0px 0px; 
}

div.shadowbox {
	-moz-box-shadow: -4px 7px 7px #c3c3c3;
	-o-box-shadow: -4px 7px 7px #c3c3c3;
	-icab-box-shadow: -4px 7px 7px #c3c3c3;
	-khtml-box-shadow: -4px 7px 7px #c3c3c3;
	box-shadow: -4px 7px 7px #c3c3c3;
	padding: 10px 0px;
}

div.shadowbox-browser {
	-moz-box-shadow: 0px 0px 2px olive;
	-o-box-shadow: 0px 0px 2px olive;
	-icab-box-shadow: 0px 0px 2px olive;
	-khtml-box-shadow: 0px 0px 2px olive;
	box-shadow: 0px 0px 2px olive;
	padding: 10px 10px;
	margin-right: 5px;
	margin-left: 5px;
	font-size: 12px;
}
div.tab-row {
	height: 28px;
	margin: 0px 0px;
	padding: 0px 0px;
}

div.tab-row ul {
	margin: 0px 0px;
	padding: 0px 0px;
	list-style:none;
}

div.tab-row ul li {
	float:left;
	height: 20px;
	margin: 0px 0px 0px 0px;
	padding: 4px 12px 4px 12px;
	background-color: #f4f4f4;
	border: 1px solid #e4e0e1;
}

div.tab-row ul li select {
    width: 130px;
color:#868686;
font-size:12px;
font-weight:bold;
text-decoration:none;
cursor:pointer;
	background-color: #f4f4f4;
border:0px;
}

div.tab-row ul li:hover select {
  background-color: #e4e4e4;
  color: #000000;
}

div.tab-row ul li.selected select {
	background-color: #FFFFFF;
color: #ff7932;
}

div.tab-row ul li:hover {
	background-color: #e4e4e4;
}

div.tab-row ul li:hover a {
	color: #000000;
}

div.tab-row ul li a {
	color: #868686;
	font-weight: bold;
	text-decoration: none;
	font-size: 16px;
}

div.tab-row ul li.selected {
	background-color: #FFFFFF;
	border: 1px solid #F4F4F4;
}

div.tab-row ul li.selected a {
	color: olive;
}

div.tab-panel {
	clear: left;
	background-color: #FFFFFF;
	margin: 0px 0px;
	padding: 0px 0px;

	-moz-box-shadow: 0px 0px 2px #c3c3c3;
	-o-box-shadow: 0px 0px 2px #c3c3c3;
	-icab-box-shadow: 0px 0px 2px #c3c3c3;
	-khtml-box-shadow: 0px 0px 2px #c3c3c3;
	box-shadow: 0px 0px 2px #c3c3c3;
}

div.outergrid table {
	font-size: 12px;
	margin-top: 5px;
	padding: 0px;
	border: 0px;
    border-collapse:separate;
    border-spacing: 0px;
    background-color: white;
    white-space: nowrap;
    border-top: 0px solid;
}
div.outergrid td {
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 1px;
	padding-left: 2px;
	padding-right: 1px;
	background-color: white;
	text-align: center;
	border: 1px dotted lightgray;
}
div.outergrid tr {
	margin: 0px;
	padding: 0px;
}

div.griddata table {
	font-size: 12px;
	margin-top: 5px;
	padding: 0px;
	border: 0px;
    border-collapse:separate;
    border-spacing: 0px;
    background-color: white;
    white-space: nowrap;
    border-top: 0px solid;
}

div.griddata table tbody {
	background-color: black;
}

div.griddata table a {
	text-decoration: none;
	color: #400576;
}

div.griddata tr {
	margin: 0px;
	padding: 0px;
}

div.griddata tr:hover {
	opacity: 0.9;
}

div.griddata tr.headers {
	margin: 0px;
	padding: 0px;
	opacity: 1.0;
}

div.griddata tr.headers th {
	padding: 0px 5px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	border-left: 0px solid white;
	border-right: 0px solid white;
	background-color: white;
	font-size: 12px;
	min-width:20px;
	vertical-align: bottom;
	text-align: center;
}

div.griddata tr.headers th.empty {
	border-bottom: 0px solid white;
	min-width:0px;
}

div.griddata tr.headers th.wicket_orderDown a {
      background-image: url('../images/orderdown.gif');
      background-position: center left;
      background-repeat: no-repeat;
      padding-left: 8px;

}

div.griddata tr.headers th.wicket_orderNone a {
      background-image: url('../images/ordernone.gif');
      background-position: center left;
      background-repeat: no-repeat;
      padding-left: 8px;

}


div.griddata tr.headers th.wicket_orderUp a {
      background-image: url('../images/orderup.gif');
      background-position: center left;
      background-repeat: no-repeat;
      padding-left: 8px;
}

div.griddata th {
	padding: 0px 2px;
	border-bottom: 1px solid black;
	border-left: 10px solid white;
	border-right: 10px solid white;
	background-color: white;
}

div.griddata th img {
        margin: 2px;
}

div.griddata img {
	/*
	float: right;
	margin: 5px 0px 2px 2px;
	*/
	margin: 0px;
	padding: 0px;
	border: 0px;
}

div.griddata td {
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 1px;
	padding-left: 2px;
	padding-right: 1px;
	background-color: white;
	text-align: center;
	border: 1px dotted lightgray;
}

div.griddata td.key {
	padding: 0px 2px;
	background-color: white;
}

div.griddata td.name {
	padding: 0px 2px;
	background-color: white;
}

div.griddata td.st {
	min-width: 40px;
	border-bottom: 1px dotted #DDD;
	border-left: 1px dotted #CCC;
	background-color: white;
	text-align: center;
}

div.griddata td.gp {
	width: 16px;
	background-color: white;
    margin: 0px;
    padding: 0px;
}

div.griddata td.gp span {
       margin:0px;
       padding:0px;
}

div.griddata td.gp a {
       margin:0px;
       padding:0px;
}

div.griddata td.gp img {
       margin-top: 0px;
}
div.griddata td:hover.st {
	opacity:0.7;
}

div.boxes {
	margin: 0px 0px 0px 0px;
    padding: 0px 0px;
	font-size:12px;
}

div.boxes h1 {
	color:#C53F26;
	font-size:12px;
	margin:0px;
	padding:0 0 5px 0;
}

div.boxes div {
	width:145px;
	position: relative;
	margin: 10px 10px;
	padding: 2px 5px;
	border-right: 1px solid #E0E0E0;
	border-bottom: 1px solid #D0D0D0;
	background-color:white;
}

div.boxes div.subbox {
  width: 120px;
  margin: 5px;
  background-color: #FFFEEF;
}

div.boxes div.navigation {
  width: 25px;
  float: right;
  margin: 0px 9px 5px 0px;
  padding: 0px;
  background-color: white;
  border: 0px solid white;
}

div.boxes div.navigation a {
  text-decoration: none;
}


div.boxes div.selected {
  background-color: #FCE7E2;
  border-bottom: 1px solid #E56A26;
  border-left: 1px solid #E56A26;
  border-right: 0px solid black;
}

div.boxes div.newbox {
	float: left;
	width:145px;
	position: relative;
	margin: 0px 0px 5px 0px;
	padding: 2px 5px;
	border: 0px;
	background-color:#FFF;
}

img.cross {
	float: right;
	border: 0px;
}

div.boxes p {
	margin: 0px;
	padding: 0px 0px 0px 10px;
}

div.boxes ul.filter {
	list-style-type: none;
	list-style-position:inside;
    margin:0px;
    padding: 0px;
}

table.prediction {
   border: 1px solid #AAA;
   margin: 3px 20px;
}

table.prediction th {
   padding: 2px 5px;
   border-bottom: 1px solid #BBB;
}

table.prediction td {
   padding: 1px 2px;
}

table.prediction td.cell {
   min-width: 40px;
}

div.help {
  padding: 50px;
  text-align: justify;
}

.rotate90 {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

div.popup {
	position: absolute;
	padding: 10px 10px;
	background-color: white;
	border: 1px solid gray;
	display: none;
}

div.menu {
	font-weight: bold;
	cursor: pointer;
}