span.checkbox {
   width: 19px;
   height: 25px;
   padding: 0 5px 0 0;
   background: url(../images/checkbox.gif) no-repeat;
   display: block;
   clear: left;
   float: left;
}
  
span.radio {
	width: 19px;
   height: 25px;
   padding: 0 5px 0 0;
   background: url(../images/radio.gif) no-repeat;
   display: block;
   clear: left;
   float: left;
}

span.select {
	position: absolute;
	margin-top: 1px;
   width: 221px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
   height: 16px;
   padding: 2px 24px 2px 8px;
   color: #387186;
   font-size: 13px;
   background: url(../images/selectbg.png) no-repeat;
   overflow: hidden;
} 

span.smallselect {
	position: absolute;
	margin-top: 3px;
   width: 100px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
   height: 16px;
   padding: 2px 24px 2px 8px;
   color: #387186;
   font-size: 13px;
   background: url(../images/selectbgs.png) no-repeat; 
   overflow: hidden;
}