/**
 * 
 * Copyright 2011 Universitat Pompeu Fabra.
 * 
 * This software is open source and is licensed under the Open Software License
 * version 3.0.
 * 
 * You may obtain a copy of the License at
 * http://www.opensource.org/licenses/osl-3.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
 * implied.
 * 
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/*
.input { 
	border: 1px thin #8b8b8b;
    background: white;
}*/

.button {
    border: 1px solid #006;
	height: 24px;
}
  div.loading-invisible{
    /*make invisible*/
    display:none;
  }

#bysy_indicator {
    /*make visible*/
    display:block;

    /*position it 200px down the screen*/
    position:absolute;
    top:32%;
    left:40%;
    width:20%;
    text-align:center;

    /*in supporting browsers, make it
      a little transparent*/
    background: #F1F1F1;
    filter: alpha(opacity=75); /* internet explorer */
    -khtml-opacity: 0.75;      /* khtml, old safari */
    -moz-opacity: 0.75;       /* mozilla, netscape */
    opacity: 0.75;           /* fx, safari, opera */
    border-top:0px solid #ddd;
    border-bottom:px solid #ddd;

}

#header {
	margin: 0px 0px;
	padding: 15px 30px;
	
    /* fallback (Opera) */
    background: olive;
    /* Mozilla: */
    background: -moz-linear-gradient(left, olive, #000000);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, right top, from(olive), to(#000000));
	
	/* For Internet Explorer 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=olive, endColorstr=#000000)";
	/* For Internet Explorer 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=olive, endColorstr=#000000);

	background-size: 100%;
	height: 60px;
	vertical-align: middle;
	color : white;
	min-width:450px;
}

#top {
	height: 65px;
	/*width: 400px;*/
	padding: 5px 0px;
	font-size: 24px;
}

#top img {
	padding-left: 43px;
	border: 0px;
}

#top div.beta {
	position:absolute;
	top: 82px;
	left: 256px;
	text-decoration: none;
	cursor: help;
	padding: 0px 0px;
	margin: 0px 0px;
}

#top div.beta img {
	border: 0px;
	padding: 0px 0px;
	margin: 0px 0px;
}

#down {
	height: 30px;
	margin-left: 10px;
}

#menu {
	height: 40px;
	float: left;
	color : black;
}

#menu ul {
	margin: 0px 0px;
	padding: 0px 0px;
	list-style:none;
}

#menu ul li {
	float:left;
	margin: 7px 15px 0px 0px;
	padding: 0px 0px;
}

#menu ul li:hover {
	border-bottom: 5px solid gray;
}

#menu ul li a {
	color: black;
	text-decoration: none;
	font-size: 16px;
}

#menu ul li.current {
	border-bottom: 5px solid black;
}

#menu ul li.current a {
	font-weight: bold;
}

#quick {
	display: block;
	float: right;
	margin: 0px 0px 0px 0px;
	padding: 5px 50px 0px 0px;
	height: 20px;
}

#quick select {
	/*width: 253px;*/
	height: 20px;
	color: #387186;
	/*font-weight: bold;*/
	border: 0px;
	background-color: #EFEFEF;
}

#quick input.query {
	width: 209px;
	height: 18px;
	border: 1px solid #89817E;
	color: #387186;
	background-image: url('../images/querybg.png') ;
}

#quick input.go {
	width: 35px;
	color: #797D79;
	font-weight: bold;
	cursor: pointer;
}


#content {
	margin: 0px 100px;
	padding: 15px 0px;
	background-color: #EFEFEF;
	/*background-image: url('../images/contentbg.gif');*/
	background-repeat: no-repeat;
	min-height: 800px;
	min-width:850px;
}

#position {
	height: 99px;
	background-color: #FFFFFF;
}
div.leftColumn{
	float:left;
	width:30%;
	min-width: 400px;
}

div.rightColumn{
	float:right;
	width:70%;
}

div.footer{
	clear:both;
}

div.bar {
	height: 26px;
	margin: 0px 0px;
	padding: 0px;
	font-size: 12px;
}

div.bartitle {
	float: left;
	width: 150px;
	height: 20px;
	margin: 0px;
	padding: 0px 0px;
	font-size: 12px;
}

div.bartitle p {
	text-align: right;
	color: olive;
	font-weight: bold;
	margin: 0px 0px;
	padding: 3px 0px;
}

div.barselect {
	float: left;
	width: 257px;
	height: 16px;
	margin: 0px;
	padding: 0px 0px;
} 

div.barselect select {
	width: 252px;
	height: 24px;
	color: #010101;
	border: 1px thin #8b8b8b;
	background-color: #EFEFEF;
}

div.barselect select.smallselect {
	width: 124px;
	margin: 0px 0px;
	padding: 0px 0px;
}

div.midbar {
	border-top: 1px dotted #C3C3C3;
	border-bottom: 1px dotted #C3C3C3;
	min-width:450px;
	position:relative;
	height: 30px;
}

#data {
	/*margin-top: 15px;*/
}

#data div.tab-panel {
	min-height: 575px;
	min-width: 450px;
	background-color:  white;
	background-position: bottom;
	background-repeat: repeat-x;
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left: 25px;
	padding-right: 25px	;

	-moz-box-shadow: 0px 0px 7px #c3c3c3;
	-o-box-shadow: 0px 0px 7px #c3c3c3;
	-icab-box-shadow: 0px 0px 7px #c3c3c3;
	-khtml-box-shadow: 0px 0px 7px #c3c3c3;
	box-shadow: 0px 0px 7px #c3c3c3;
}

#viewers {
	margin: 10px 12px 0px 12px;
	background-color: white;
}

#viewers div.dataviewers {
	height: 220px;
	width: 100%;
	border: 0px solid white;
}

div.boxesshow {
	width: 200px;
	float: left;
	margin: 0px 0px;
	padding: 0px 0px;
}

div.boxesshow div.selector {
	margin: 13px 0px 0px 0px;
	padding: 1px 3px;
	width: 196px;
	height: 15px;
	background-color: #f2f6f8;
	border-right: 1px dotted #8b8b8b;
	border-top: 1px dotted #8b8b8b;
}

div.gridbar {
	padding: 5px 10px 0px 30px;
	height: 25px;
	color: #868686;
	border-bottom: 1px dotted #8b8b8b;
	font-size: 12px;
}

div.griddata {
    padding: 0px 10px;
	overflow: auto;
	margin-top: 5px;
}

div.resultHeader {
	position: relative;
	font-size: 12px;
}

div.resultHeader h1 {
	color:olive;
	border-bottom:1px solid #BABCBD;
	margin: 0px 0px;
	font-size: 16px;
    background-position: left;
    left: 0px;
	padding:10px 10px;
	width : 100%;
}

div.resultHeader h2 {
	color:olive;
	border-bottom:0px solid #BABCBD;
	font-size: 14px;
    background-position: left;
    left: 0px;
	padding:10px 10px;
	width : 100%;
}

div.home p {
	text-align: justify;
	margin: 10px 10px;
	font-size: 12px;
	color: #656664;
}

div.home img {
	border: 0px;
	margin: 5px 10px;
}

div.home h1 {
	color:olive;
	border-bottom:1px solid #BABCBD;
	/*margin: 22px 40px;*/
	padding:10px 0px;
	font-size: 18px;
    background-position: left;
    left: 0px;
}

div.home h2 {
	text-align: center;
}

div.home h2 a {
	color: #008;
	text-decoration: none;
}
div.home div.browse {
	margin: 10px 80px;
	padding: 10px 10px;
}

div.note {
	width:100%;
}

div.note-left {
	width: 50%;
	border: 1px solid #555;
	float: left;
}

div.note-right {
	width: 50%;
	/*padding: 10px 10px;*/
	float:right;
}

div.single-note {
	border: 1px solid #555;
	font-size: 12px;
}

#bottom {
	min-width:555px;
	background-color :  white;
    margin: 0px 0px;
    /*padding: 15px 50px;*/
}

#bottom img {
    border: 0px;
}

hr {
    border: 0px;
	background-color :  transparent;
    color: white;
    border-right-color: white;
    border-left-color: white;
    border-bottom-color: white;
    border-top-color: white;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    border-top-style: hidden;
}

/* Autocomplete style */
div.wicket-aa {
	font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana;
	font-size: 12px;
	background-color: white;
	border-width: 1px;
	border-color: #cccccc;
	border-style: solid;
	padding: 2px;
	margin: 1px 0 0 0;
	text-align:left;
}
div.wicket-aa ul { list-style:none; padding: 2px; margin:0; }
div.wicket-aa ul li.selected { background-color: #FFFF00; padding: 2px; margin:0; }

div.scroll {
	overflow: auto;
	height: 200px;
}

.baseTextFont {
	margin: 10px 10px;
	color : #656664;
	font-size:12px;
}