/**
 * 
 * Copyright 2011 Universitat Pompeu Fabra.
 * 
 * This software is open source and is licensed under the Open Software License
 * version 3.0.
 * 
 * You may obtain a copy of the License at
 * http://www.opensource.org/licenses/osl-3.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
 * implied.
 * 
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

div.box { 
	float: left;
	margin: 0px 0px 7px 7px;
	padding: 0px 0px;
	width: 354px;
	border: 1px solid #b1c822;
}

div.box div.beanInCollapsibleField {
    padding: 2px 8px;
    min-height: 190px;
}

div.box div.help {
    float: right;
    margin: 0px;
    padding: 0px;
}

.expandBar span {
	color: white;
	font-weight: bold;
	margin: 0px 0px;
	padding: 0px 0px;
        font-size: 14px;
}

div.content {
   font-size: 12px;
}

div.content table {
   text-align:center;
   margin-left:auto; 
   margin-right:auto; 
   margin-top: 5px;
}
 
div.content ul {
   padding-left: 20px;
}

.expandBar {
	width: 100%; /* Should match .collapsibleBean */
	height: 18px;
    border: 0px solid #b1c822;
    background-color: #b1c822;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	cursor: pointer;
}

.expandBar span {
    margin: 0px 0px;
    padding: 0px 0px;
    float: left;
}

.expandBar .expandButton {
	margin: 2px 5px;
   	background: url(../images/mes.png) no-repeat center center;
	height: 13px;
	width: 13px;
	float: left;
	display: none;
	/* Initial state. Should be opposite of .collapsibleBean */
}

.expandBar .collapseButton {
    margin: 2px 5px;
   	background: url(../images/menys.png) no-repeat center center;
	height: 13px;
	width: 13px;
	float: left;
	display: block; /* Initial state. Should be same as .collapsibleBean */
}